body {
    background-image: url("images/phantomoftheopera_background.jpg");     
    background-size:cover;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: normal 11pt Arial;
}

header {
    color: white;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    height: 200px;
    padding: 1.5rem;
}

header h1 {
    position: relative;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    left: 180px;
    padding-top: 50px;
}


#backgroundpic {
    position: center;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    float: left;
    align-items: flex-end;
}

#space {
    padding-top: 90px;
}
.content {
    background-color: rgb(54, 3, 3);
    border-radius: 10px;
    width: 900px;
    margin: auto;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    padding: 15px;
}

.introduction {
    background-color: rgb(117, 109, 109);
    border-radius: 25px;
    padding: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 850px;
    margin: auto;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    margin-top: 0;
    border-top-color: #660606;
    border-top-width:  1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #660606;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 35px;
}

a {
    font-size: 15px;
    color: blueviolet;
}

#inttext {
    display: none;
}

.introduction #start {
    position: relative;
    text-align: center;
}

#question1 {
    background-color: rgb(117, 109, 109);
    border-radius: 25px;
    padding: 15px;
    width: 850px;
    margin: auto;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    margin-top: 0;
    border-top-color: #660606;
    border-top-width:  1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #660606;
    display: none;
        
}

#question2 {
    background-color: rgb(117, 109, 109);
    border-radius: 25px;
    padding: 15px;
    width: 850px;
    margin: auto;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    margin-top: 0;
    border-top-color: #660606;
    border-top-width:  1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #660606;
    display: none;

}

#question3 {
    background-color: rgb(117, 109, 109);
    border-radius: 25px;
    padding: 15px;
    width: 850px;
    margin: auto;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    margin-top: 0;
    border-top-color: #660606;
    border-top-width:  1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #660606;
    display: none;

}

#question4 {
    background-color: rgb(117, 109, 109);
    border-radius: 25px;
    padding: 15px;
    width: 850px;
    margin: auto;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    margin-top: 0;
    border-top-color: #660606;
    border-top-width:  1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #660606;
    display: none;

}

#question5 {
    background-color: rgb(117, 109, 109);
    border-radius: 25px;
    padding: 15px;
    width: 850px;
    margin: auto;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    margin-top: 0;
    border-top-color: #660606;
    border-top-width:  1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #660606;
    display: none;

}

#results {
    background-color: rgb(117, 109, 109);
    border-radius: 25px;
    padding: 15px;
    width: 850px;
    margin: auto;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    margin-top: 0;
    border-top-color: #660606;
    border-top-width:  1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #660606;
    display: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    display: flex;
    justify-content: space-around;
}

#nickname {
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 80px;
    position: relative;
    text-align: center; 
}


#question1 .op {
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    background-color: rgb(155, 151, 151);
    padding: 10px;
    
}

.number_Question {
    position: relative;
    margin: 0;
    left: 800px;
    color: antiquewhite;
   }

.number_Question2 {
    position: relative;
    margin: 0;
    left: 380px;
    color: antiquewhite;
   }

   #question2 {
    position: relative;
    text-align: center; 
   }

   #question3 {
    position: relative;
    text-align: center;
   }

   #question4 {
    position: relative;
    text-align: center;
   }
  
  #question5 {
    position: relative;
    text-align: center;
   }

   #results a {
    color: black;
   }

   #song {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    float: right;
    align-items: flex-end;
   }

   #message {
       font-size: 14px;
       line-height: 12px;
       position: relative;
       right: 5px;
   }


   #picture {
       text-align: center;
   }


    html {
        scroll-behavior: smooth;
    }

    #answerQ5 {
        padding-top: 15px;
    }